*{
    text-decoration: none;
}
header{
    background: rgba(137, 137, 253, 0.247);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: auto;
    margin-left: 20px;
}
li{
    list-style: none;
    display: inline-block;
}
button{
    background-color: rgb(10, 10, 121, 0.486);
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
html, body{
    height: 100%;
    overflow-x: hidden;
}

.video-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-vid{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Recommended{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    display: inline;
    gap: 5em;
    z-index: 1;
    cursor: pointer;
}
.Spacer{
   width: 100%;
   height: 180px;
}
div .Music{
    display: inline-block;
    border: 10px solid black;
    gap: 5em;
    margin-right: 25px;
    padding: 1em;
    background: rgb(84, 84, 207);
    font-family: Sofia;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 30px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

div .Music:hover {
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}


